<a href="https://colab.research.google.com/github/gnc506/ProgFinalAssess2/blob/main/Volcanos_Assessment_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

vol_data = pd.read_csv('/content/drive/MyDrive/Data Science MSc/Programming/Assessment 2/output.csv')

vol_data = vol_data.drop(vol_data.columns[0], axis=1)
vol_data = vol_data.drop([0])
vol_data

vol_data.describe()

,Year,Mo,Dy,Tsu,Eq,Latitude,Longitude,Elevation (m),VEI,Deaths,...,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
count,845.000000,740.000000,680.000000,170.000000,75.000000,845.000000,845.000000,845.000000,664.000000,438.000000,...,460.000000,586.000000,11.000000,15.000000,102.000000,132.000000,26.000000,259.000000,50.000000,145.000000
mean,1837.583432,6.435135,15.285294,2369.129412,5615.786667,15.064574,54.994785,1972.457988,2.756024,443.570776,...,725.854348,1.607509,343.272727,1.933333,488.009804,1.500000,198.078154,1.783784,1009.040000,2.206897
std,281.943961,3.343219,9.079963,1809.016087,3428.699124,25.533988,99.632277,1249.310195,1.196069,2427.218348,...,4146.191575,1.002328,641.058358,1.162919,3303.763172,0.860499,425.089307,0.980215,1918.164311,1.053411
min,46.000000,1.000000,1.000000,21.000000,58.000000,-63.001000,-177.920000,-642.000000,0.000000,1.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1817.000000,4.000000,7.000000,1020.500000,2087.000000,-6.770000,-19.666000,1117.000000,2.000000,1.000000,...,2.000000,1.000000,9.500000,1.000000,3.000000,1.000000,3.673000,1.000000,28.000000,1.000000
50%,1928.000000,7.000000,15.000000,1824.500000,6050.000000,13.257000,110.446000,1728.000000,3.000000,5.000000,...,6.000000,1.000000,44.000000,1.000000,11.000000,1.000000,19.500000,1.000000,175.000000,2.000000
75%,1987.000000,9.000000,23.000000,3147.750000,8781.500000,36.406000,130.862000,2715.000000,3.000000,48.750000,...,60.250000,2.000000,174.500000,3.000000,42.750000,2.000000,118.750000,3.000000,779.000000,3.000000
max,2023.000000,12.000000,31.000000,5905.000000,10556.000000,65.715000,177.180000,6377.000000,7.000000,30000.000000,...,60000.000000,4.000000,1755.000000,4.000000,31943.000000,4.000000,2000.000000,4.000000,9000.000000,4.000000